body{
    background-color: linen;
}
#kontener{
    font-family: 'Helvetica', 'sans-serif';
    color: #222;
    margin: auto;
    width: 90%;
    
}
#headers{
    background-color: black;
    height: 100px;
    
    color: aliceblue;
}
#naglowek{
    float: left;
    height: 100px;
    width: 50%
    
}
#linki{
float: right;
   height: 100px;
   width: 50%;
   text-align: center;
   margin-top: 1%;
   background-color: hsl(200, 50%, lightness);
}
#linki a:visited{
    color: aliceblue;
}
#linki a{
    color: white;
    text-decoration: none;
    
}
ul{
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
ul li{
    padding-right: 10px;
    
}
main{
    margin: 20px;

}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

td{
    padding:30px;
    text-align: center;
}
th{
    padding:30px;
    text-align: center;
}